n8n/Lifewood — AI Agent.json
{
  "name": "Lifewood — AI Agent",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst binaryData = item.binary?.data;\n\nif (!binaryData) {\n  throw new Error(`No binary data for file: ${item.json.file_id}`);\n}\n\nconst base64Image = binaryData.data;\nconst mimeType = binaryData.mimeType || 'image/jpeg';\n\nreturn [{\n  json: {\n    file_id:     $('Loop Over Files1').first().json.file_id,\n    file_name:   $('Loop Over Files1').first().json.file_name,\n    folder_id:   $('Loop Over Files1').first().json.folder_id,\n    folder_name: $('Loop Over Files1').first().json.folder_name,\n    base64_image: base64Image,\n    mime_type:   mimeType,\n  }\n}];"
      },
      "id": "ccd00d50-0483-41da-a0c2-9bc1a92cdb2a",
      "name": "Prepare Vision Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3184,
        176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"model\": \"gpt-4o\",\n  \"max_tokens\": 1024,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:{{ $json.mime_type }};base64,{{ $json.base64_image }}\",\n            \"detail\": \"high\"\n          }\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"You are a BIR (Bureau of Internal Revenue) receipt OCR specialist for the Philippines. Extract all structured data from this receipt or invoice image.\\n\\nReturn ONLY a valid JSON object — no markdown, no explanation, no code fences. Use these exact field names:\\n{\\n  \\\"document_type\\\": \\\"official_receipt|invoice|sales_invoice|delivery_receipt|collection_receipt|acknowledgment_receipt|charge_invoice|cash_invoice|debit_memo|credit_memo|job_order|purchase_order|billing_statement|statement_of_account|unknown\\\",\\n  \\\"vat_type\\\": \\\"vat|non_vat|zero_rated|vat_exempt|unknown\\\",\\n  \\\"expense_category\\\": \\\"office_supplies|meals_entertainment|transportation|utilities|communication|professional_fees|rent|salaries|repairs_maintenance|taxes_licenses|insurance|advertising|miscellaneous|uncategorized\\\",\\n  \\\"business_name\\\": \\\"\\\",\\n  \\\"business_address\\\": \\\"\\\",\\n  \\\"tin\\\": \\\"\\\",\\n  \\\"receipt_number\\\": \\\"\\\",\\n  \\\"bir_permit_number\\\": \\\"\\\",\\n  \\\"expense_date\\\": \\\"YYYY-MM-DD or empty string\\\",\\n  \\\"description\\\": \\\"brief description of what was purchased\\\",\\n  \\\"buyer_name\\\": \\\"\\\",\\n  \\\"buyer_tin\\\": \\\"\\\",\\n  \\\"subtotal\\\": 0.00,\\n  \\\"vatable_sales\\\": 0.00,\\n  \\\"vat_exempt_sales\\\": 0.00,\\n  \\\"zero_rated_sales\\\": 0.00,\\n  \\\"vat_amount\\\": 0.00,\\n  \\\"total\\\": 0.00\\n}\\n\\nRules:\\n- All numeric fields must be numbers (not strings)\\n- Dates must be YYYY-MM-DD format or empty string if not found\\n- TIN format: XXX-XXX-XXX-XXX\\n- If a field is not found on the receipt, use empty string or 0\\n- For expense_category, infer from the business name and description\\n- Return ONLY the JSON object, nothing else\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "ca1ded2a-71f1-49b9-b2a1-8fe2f072ff95",
      "name": "GPT-4o Vision OCR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3424,
        176
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "53f6dd30-0a6c-48c5-9f15-b408efaf06e9",
      "name": "Every 5 Minutes1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1744,
        176
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.DJANGO_API_URL }}/api/google/files/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Agent-Secret",
              "value": "={{ $env.N8N_AGENT_SECRET }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "6fcb2a9e-edb4-476b-ae6c-ca5aae532568",
      "name": "Get Drive Files1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1984,
        176
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.DJANGO_API_URL }}/api/billing/receipts/processed-ids/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Agent-Secret",
              "value": "={{ $env.N8N_AGENT_SECRET }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "d9095954-0c87-4d60-8da8-65bfbec4ed69",
      "name": "Get Processed IDs1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2224,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "const driveItems = $('Get Drive Files1').all();\nconst processedData = $('Get Processed IDs1').first().json;\nconst processedIds = new Set(processedData.processed_file_ids || []);\n\nconst IMAGE_TYPES = [\n  'image/jpeg', 'image/jpg', 'image/png', 'image/gif',\n  'image/webp', 'image/tiff', 'application/pdf'\n];\n\nfunction flatten(items, folderName = '', folderId = '') {\n  const result = [];\n  for (const item of items) {\n    if (item.mimeType === 'application/vnd.google-apps.folder') {\n      result.push(...flatten(item.children || [], item.name, item.id));\n    } else if (IMAGE_TYPES.includes(item.mimeType)) {\n      result.push({\n        file_id: item.id,\n        file_name: item.name,\n        mime_type: item.mimeType,\n        folder_id: folderId,\n        folder_name: folderName,\n        modified_time: item.modifiedTime,\n      });\n    }\n  }\n  return result;\n}\n\nconst allFiles = [];\nfor (const driveItem of driveItems) {\n  const folders = Array.isArray(driveItem.json) ? driveItem.json : [driveItem.json];\n  allFiles.push(...flatten(folders));\n}\n\nconst newFiles = allFiles.filter(f => !processedIds.has(f.file_id));\n\nif (newFiles.length === 0) {\n  console.log('No new files to process.');\n  return [];\n}\n\nconsole.log(`Found ${newFiles.length} new file(s) to process.`);\nreturn newFiles.map(f => ({ json: f }));"
      },
      "id": "49842da8-65f5-4bc3-b5b8-b4e3cd3ef3bb",
      "name": "Find New Image Files1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        176
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "14dcdcdd-60d7-4d4e-8df4-92fcce88c15b",
      "name": "Loop Over Files1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2704,
        176
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.DJANGO_API_URL }}/api/google/files/{{ $json.file_id }}/content/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Agent-Secret",
              "value": "={{ $env.N8N_AGENT_SECRET }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "ea89ef3b-4aa2-466b-90ab-e1c56f25574b",
      "name": "Download File Content1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2944,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst openaiResponse = item.json;\n\n// OpenAI response format: choices[0].message.content\nconst replyText = openaiResponse?.choices?.[0]?.message?.content;\nif (!replyText) {\n  throw new Error('GPT-4o returned no content');\n}\n\nlet ocrData;\ntry {\n  const cleaned = replyText\n    .replace(/```json/gi, '')\n    .replace(/```/g, '')\n    .trim();\n  ocrData = JSON.parse(cleaned);\n} catch (e) {\n  console.error('Failed to parse GPT-4o OCR response:', replyText);\n  ocrData = {\n    document_type: 'unknown',\n    vat_type: 'unknown',\n    expense_category: 'uncategorized',\n    business_name: '',\n    total: 0,\n  };\n}\n\nconst fileMeta = $('Prepare Vision Request').first().json;\n\nconst receiptPayload = {\n  drive_file_id:    fileMeta.file_id,\n  drive_file_name:  fileMeta.file_name,\n  drive_folder_id:  fileMeta.folder_id,\n  drive_folder_name: fileMeta.folder_name,\n  status: 'processed',\n  ocr_raw_text: replyText,\n\n  document_type:    ocrData.document_type    || 'unknown',\n  vat_type:         ocrData.vat_type         || 'unknown',\n  expense_category: ocrData.expense_category || 'uncategorized',\n  business_name:    ocrData.business_name    || '',\n  business_address: ocrData.business_address || '',\n  tin:              ocrData.tin              || '',\n  receipt_number:   ocrData.receipt_number   || '',\n  bir_permit_number: ocrData.bir_permit_number || '',\n  expense_date:     ocrData.expense_date     || '',\n  description:      ocrData.description      || '',\n  buyer_name:       ocrData.buyer_name       || '',\n  buyer_tin:        ocrData.buyer_tin        || '',\n\n  subtotal:         Number(ocrData.subtotal)         || 0,\n  vatable_sales:    Number(ocrData.vatable_sales)    || 0,\n  vat_exempt_sales: Number(ocrData.vat_exempt_sales) || 0,\n  zero_rated_sales: Number(ocrData.zero_rated_sales) || 0,\n  vat_amount:       Number(ocrData.vat_amount)       || 0,\n  total:            Number(ocrData.total)            || 0,\n};\n\nreturn [{ json: receiptPayload }];"
      },
      "id": "fba8e4f9-1ff0-4504-9b59-daa360f3673d",
      "name": "Parse OCR Response1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3664,
        176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DJANGO_API_URL }}/api/billing/receipts/save/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Agent-Secret",
              "value": "={{ $env.N8N_AGENT_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "b626f8c3-add8-4862-ada2-5b7cedf6868b",
      "name": "Save Receipt to Django1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3904,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "const saved = $input.first().json;\nconsole.log(`Receipt saved: ID=${saved.receipt_id}, created=${saved.created}, file=${saved.drive_file_id}`);\nreturn $input.all();"
      },
      "id": "a1c41500-34ba-43ed-acaa-730e7bc57eb0",
      "name": "Log Result1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4144,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "const webhookBody    = $('Receive Chat Message1').first().json.body;\nconst memoryData     = $('Fetch User Memory1').first().json;\nconst analyticsData  = $('Fetch Analytics Data1').first().json;\n\nconst userId          = webhookBody.user_id;\nconst userMessage     = webhookBody.message;\nconst conversationId  = webhookBody.conversation_id || null;\nconst history         = webhookBody.history || [];\n\n// Build analytics block\nconst summary  = analyticsData.summary  || {};\nconst byCategory = analyticsData.by_category || [];\nconst recent   = analyticsData.recent_receipts || [];\n\nconst analyticsBlock = `\n=== USER FINANCIAL SUMMARY ===\nTotal Receipts : ${summary.total_receipts    ?? 'N/A'}\nTotal Spent    : PHP ${summary.total_amount  ?? '0.00'}\nThis Month     : PHP ${summary.this_month    ?? '0.00'}\nLast Month     : PHP ${summary.last_month    ?? '0.00'}\nAvg per Receipt: PHP ${summary.average_amount ?? '0.00'}\n\nTop Categories:\n${byCategory.slice(0, 5).map(c => `  - ${c.category}: PHP ${c.total} (${c.count} receipts)`).join('\\n')}\n\nRecent Receipts (last 5):\n${recent.slice(0, 5).map(r => `  - ${r.expense_date} | ${r.business_name} | PHP ${r.total} | ${r.expense_category}`).join('\\n')}\n`.trim();\n\n// Build memory block\nconst memories = memoryData.messages || [];\nconst memoryBlock = memories.length > 0\n  ? `=== RELEVANT PAST CONVERSATIONS ===\\n${memories.map(m => `[${m.role}]: ${m.content}`).join('\\n')}`\n  : '';\n\n// System prompt\nconst systemPrompt = `You are Lifewood's AI finance assistant. You help users understand their expense history, receipts, and spending patterns.\n\nGuidelines:\n- Be concise and professional\n- Always reference actual data when answering\n- Format currency as PHP X,XXX.XX\n- If asked about something not in the data, say so honestly\n- You can only see this user's own data\n\n${analyticsBlock}\n\n${memoryBlock}`.trim();\n\n// Build messages array from history (last 10 turns)\nconst historyMessages = history.slice(-10).map(h => ({\n  role: h.role === 'agent' ? 'assistant' : 'user',\n  content: h.content\n}));\n\n// Final messages array for OpenAI\nconst messages = [\n  { role: 'system', content: systemPrompt },\n  ...historyMessages,\n  { role: 'user',   content: userMessage }\n];\n\nreturn [{\n  json: {\n    messages,\n    user_id: userId,\n    conversation_id: conversationId,\n    user_message: userMessage,\n  }\n}];"
      },
      "id": "b78f84cb-b6ee-4a3a-ae56-ec8ba60b71a3",
      "name": "Build System Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2416,
        688
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"model\": \"gpt-4o\",\n  \"max_tokens\": 1500,\n  \"messages\": {{ JSON.stringify($json.messages) }}\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "a8f161ff-4cbf-4aaf-a35b-edd49215c8b6",
      "name": "GPT-4o Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2672,
        688
      ]
    },
    {
      "parameters": {
        "jsCode": "const openaiResponse  = $('GPT-4o Chat').first().json;\nconst buildData       = $('Build System Prompt').first().json;\n\nconst replyText = openaiResponse?.choices?.[0]?.message?.content;\nif (!replyText) {\n  throw new Error('GPT-4o returned no reply content');\n}\n\nconst usage = openaiResponse.usage || {};\n\nreturn [{\n  json: {\n    reply:           replyText,\n    conversation_id: buildData.conversation_id,\n    user_id:         buildData.user_id,\n    metadata: {\n      model:              openaiResponse.model,\n      input_tokens:       usage.prompt_tokens,\n      output_tokens:      usage.completion_tokens,\n      total_tokens:       usage.total_tokens,\n    }\n  }\n}];"
      },
      "id": "d1329f7d-f99a-42a3-aecc-3526c27dcfd5",
      "name": "Extract Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2928,
        688
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lifewood-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c8b96179-1406-47ea-af14-1ffaefe3e53e",
      "name": "Receive Chat Message1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1872,
        688
      ],
      "webhookId": "74060f48-0214-43c7-ad1b-9a862c4db1d0"
    },
    {
      "parameters": {
        "url": "={{ $env.DJANGO_API_URL }}/api/billing/chat/memory/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "={{ $('Receive Chat Message1').first().json.body.user_id }}"
            },
            {
              "name": "query",
              "value": "={{ $('Receive Chat Message1').first().json.body.message }}"
            },
            {
              "name": "limit",
              "value": "6"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Agent-Secret",
              "value": "={{ $env.N8N_AGENT_SECRET }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "15b21fa5-77f1-4eb8-a5da-066c4a50f156",
      "name": "Fetch User Memory1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2128,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DJANGO_API_URL }}/api/billing/n8n/analytics/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Agent-Secret",
              "value": "={{ $env.N8N_AGENT_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={ \"user_id\": {{ $('Receive Chat Message1').first().json.body.user_id }} }",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "8ebf7b08-2870-45f0-8b73-f71e0fb65911",
      "name": "Fetch Analytics Data1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2128,
        800
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"reply\": {{ JSON.stringify($json.reply) }},\n  \"conversation_id\": {{ JSON.stringify($json.conversation_id) }},\n  \"metadata\": {{ JSON.stringify($json.metadata) }}\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a48c3b83-9e25-49a9-afb6-5c44e2fbb528",
      "name": "Send Response1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3200,
        688
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Prepare Vision Request": {
      "main": [
        [
          {
            "node": "GPT-4o Vision OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o Vision OCR": {
      "main": [
        [
          {
            "node": "Parse OCR Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 5 Minutes1": {
      "main": [
        [
          {
            "node": "Get Drive Files1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Drive Files1": {
      "main": [
        [
          {
            "node": "Get Processed IDs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Processed IDs1": {
      "main": [
        [
          {
            "node": "Find New Image Files1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find New Image Files1": {
      "main": [
        [
          {
            "node": "Loop Over Files1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Files1": {
      "main": [
        [
          {
            "node": "Download File Content1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File Content1": {
      "main": [
        [
          {
            "node": "Prepare Vision Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse OCR Response1": {
      "main": [
        [
          {
            "node": "Save Receipt to Django1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Receipt to Django1": {
      "main": [
        [
          {
            "node": "Log Result1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Result1": {
      "main": [
        [
          {
            "node": "Loop Over Files1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build System Prompt": {
      "main": [
        [
          {
            "node": "GPT-4o Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o Chat": {
      "main": [
        [
          {
            "node": "Extract Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Reply": {
      "main": [
        [
          {
            "node": "Send Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Chat Message1": {
      "main": [
        [
          {
            "node": "Fetch User Memory1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Analytics Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch User Memory1": {
      "main": [
        [
          {
            "node": "Build System Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Analytics Data1": {
      "main": [
        [
          {
            "node": "Build System Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "cf732a88-bace-45c0-b945-42aa8b7fa6b4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "62719930d056caa9e51789002856a9ba5a98cd3532a5fc03ffe34dbad05c7ab8"
  },
  "id": "sKNq2akhxVkWse14",
  "tags": []
}